body {
    margin: 0;
    padding: 5vh 5vw;
    background: black;
    overflow:hidden;
    display: grid;
    height: 100%;
    align-items: center;
    place-items: center;
  }
  
  * {
    box-sizing: border-box;
  }

  #beep {
      margin-top: 20%;
  }
  
  p {
    font-family: monospace;
    font-weight: bold;
    font-size: 4.1vh;
    margin: 20px;
    padding: 0;
    line-height: 1;
    color: limegreen;
    text-shadow: 0px 0px 10px limegreen;
  }
  
  .msg {
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 5vh;
    background: red;
    box-shadow: 0 0 30px red;
    text-shadow: 0 0 20px white;
    color: white;
    padding : 20px;
    text-align: center;
    min-width: 200px;
    max-width: 700px;
  }

  #passwordInput, #submitBtn {
    min-height: 40px;
    font-family: monospace;
    font-weight: bold;
    font-size: 5vh;
    margin-top: 30px;
    background: white;
    box-shadow: 0 0 30px red;
    text-shadow: 0 0 20px white;
  }